/* Set styles for mobile first */
/* general */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  p{
    margin:10px;
  }
  
  .logo > img {
    width: 50px;
  }
  
  .menu {
    text-align: right;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
  }
  
  ul{
    list-style:none;
  }
  
  /* header */
  header{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
  }
  /* navbar */
  .navbar{
      background-color: #888a92;
      color:white;
      display: flex;
      flex-direction:row-reverse;
      padding-right:5px;
  }
  
  .menu{
    display:none;
  }
  
  /* product(s) */
  .product{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border: 1px solid lightgrey;
    border-radius:3%;
    margin: 5px 20px;
  }
  
  /* footer */
  footer {
    display:none;
  }
  
  /* Media queries defined here for tablet and large screen view */
  @media screen and (min-width: 530px){
  
    footer{
      display:unset;
    }
    footer>ul {
      display:flex;
      flex-direction: row;
      justify-content:space-evenly;
      align-items:center;
      border-top: 1px solid lightgrey;
      padding-top: 10px;
    }
  }
  
  @media screen and (min-width: 1020px){
    .menu{
      display:unset;
    }
  
    .menu{
      display:flex;
      align-items:center;
      justify-content:space-between;
      width:40%;
      padding-right:15px;
    }
    
    .hamburger{
    display:none;
    }
  
    main{
    display:flex;
    flex-direction:row;
    } 
  }